APP_NAME=kvoda_expeditors
APP_ENV=local
APP_KEY=base64:veGy1SjR4x9Uc8EYPxXNLPf3GX4/aZDr1F7JSIF6c4A=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=kvoda_expeditors
DB_USERNAME=dbuser
DB_PASSWORD=dbpwd

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_LISTEN_ADDRESS=0.0.0.0

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=12000

MQTT_HOST=mqtt
MQTT_PORT=1884
MQTT_CLEAN_SESSION=false
MQTT_AUTH_USERNAME=expeditors
MQTT_AUTH_PASSWORD=gfhjkmabhvs
MQTT_LOG_CHANNEL=mqtt

GOOGLE_APPLICATION_CREDENTIALS=serviceAccount.json

ERP_URL="http://78.140.61.166:4040/ERP_WORK/hs/Site/"
ERP_USERNAME="obmen"
ERP_PASSWORD="obmen"

OCTANE_SERVER=roadrunner

API_TOKENS="your_token_here,another_token_here"

SESSION_SECURE_COOKIE=false

TELESCOPE_ENABLED=false
TELESCOPE_QUERY_WATCHER=false
